<style type="text/css">




.modal2 {
position: fixed;
width: 1100px;
height: 610px;
vertical-align: bottom;
margin: 0% auto;
border-radius: 90px;
padding: 5px 20px 10px 20px;
font-family: Arial, Helvetica, sans-serif;
color: #ffffff;
font-size: 14px;
top: 5;
right: 0;
bottom: 90;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}

.modal2:target {
	opacity: 1;
	pointer-events: auto;
}

.modal2 > div {
width: 400px;
height: 400px;
vertical-align: bottom;
position: absolute;
margin: 0% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #ffff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.fechar2 {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: 50px;
text-align: center;
top: 60px;
width: 30px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.fechar2:hover { background: #00d9ff; }
.style12 {color: #FFFFFF}
.style52 {font-weight: bold}
.style132 {font-weight: bold; font-size: 16px; }

-->

</style>

